#main-container {
    background-color: green;   
    height: 100vh;
}

header {
    font-family: 'Londrina Outline', cursive;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 1px solid red;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}



